{% extends "base.html" %}

{% block content %}
    <h1> {{ title }} </h1>
    <p>Try edit post using form below:</p>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=128) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body(size=300) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=50) }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}